<template>
  <div style="text-align: center; margin-bottom: 20px">
    <p>
      Copyright &copy; 2021 源自下载 | <a href="http://www.beian.miit.gov.cn" target="_blank" style="color: #515a6e;">赣ICP备17013782号-7</a>
    </p>
  </div>
</template>

<style scoped>

</style>
