<template>
  <div>
    <Card style="width: 550px; margin: 20px auto;">
      <p slot="title">
        {{ cardTitle }}
      </p>
      <div>
        <Form ref="form" @submit.native.prevent>
          <FormItem>
            <Input
              :rows="10"
              v-model="cookies"
              type="textarea"
              placeholder="使用电脑浏览器登录CSDN后，将Cookies复制粘贴至此，如有操作问题，请联系管理员"
            >
            <Icon slot="prepend" type="ios-lock-outline"></Icon>
            </Input>
          </FormItem>
          <Button @click="handleAddCsdnAccount" long type="primary">
            确定
          </Button>
          <p style="margin-top: 10px;">
            请仔细阅读：<br />
            CSDN会员账号一旦添加，表明您同意本平台使用所添加的会员账号进行资源下载，单次下载的价格请在添加前和管理员确认。<br />
            添加之后请勿随意进行修改账号密码等可能导致cookies失效的操作，如果需要本平台停止使用会员账号，请主动联系管理员。<br />
            会员账号添加后将由本平台代理使用进行资源下载，并且需要您（会员账号的拥有者）维护账号在本平台的可用性，
            包括cookies和下载时的短信验证，一旦cookies失效或者需要短信验证时，会向你在本平台上的账号邮箱发送邮件提醒，
            请留意！
          </p>
        </Form>
      </div>
    </Card>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  layout: 'content',
  head: {
    title: 'CSDN会员账号 - 源自下载'
  },
  data () {
    return {
      cardTitle: '',
      cookies: '',
      csdnAccountId: null
    }
  },
  beforeMount () {
    if (!this.$store.state.user) {
      this.$router.push({
        path: '/'
      }, () => {
        this.$Message.warning('请先登录')
      })
    }
    if (!this.$store.state.user.is_pattern) {
      this.$router.push({
        path: '/'
      }, () => {
        this.$Message.error('无权访问')
      })
      return
    }
    if (this.$route.query.id) {
      this.cardTitle = '更新CSDN会员账号的Cookies'
      this.csdnAccountId = this.$route.query.id
    } else {
      this.cardTitle = '添加CSDN会员账号'
    }
  },
  methods: {
    handleAddCsdnAccount () {
      if (!this.cookies) {
        this.$Message.warning('Cookies不能为空')
        return
      }
      this.$Spin.show({
        render: (h) => {
          return h('div', [
            h('Icon', {
              'class': 'demo-spin-icon-load',
              props: {
                type: 'ios-loading',
                size: 18
              }
            }),
            h('div', this.csdnAccountId ? '更新中...' : '添加中...')
          ])
        }
      })
      const data = {
        cookies: this.cookies
      }
      if (this.csdnAccountId) {
        data.id = this.csdnAccountId
      }
      this.$axios.$post('add_or_update_csdn_account/', data).then((data) => {
        if (data.code === 200) {
          this.cookies = ''
          this.$Modal.info({
            title: '提示',
            content: data.msg,
            onOk: () => {
              this.$router.push({
                path: '/user'
              })
            }
          })
        } else {
          this.$Message.error(data.msg)
        }
      }).finally(() => {
        this.$Spin.hide()
      })
    }
  }
}
</script>

<style>
</style>
