<template>
  <div>
    <Row :gutter="16" style="width: 70%; margin: 20px auto;">
      <Col span="7">
      <Card>
        <p slot="title">
          <Icon type="ios-person" /> 个人资料
        </p>
        <Tag slot="extra" v-if="$store.state.user && $store.state.user.can_download" color="gold">
          认证用户
        </Tag>
        <p>
          用户ID
          <Input v-model="$store.state.user.uid" :disabled="true" />
        </p>
        <p style="margin-top: 10px;">
          昵称
          <Input v-model="$store.state.user.nickname" :disabled="true" />
        </p>
        <p style="margin-top: 10px;">
          当前积分
          <Input v-model="$store.state.user.point" :disabled="true" />
        </p>
        <p style="margin-top: 10px;">
          已用积分
          <Input v-model="$store.state.user.used_point" :disabled="true" />
        </p>
      </Card>
      <a v-if="advert" :href="advert.link" target="_blank">
        <img :src="advert.image" :alt="advert.title" width="100%" style="margin-top: 10px; border-radius: 5px;" />
      </a>
      </Col>

      <Col span="17">
      <Card v-if="$store.state.user.is_pattern">
        <p slot="title">
          <Icon type="logo-buffer" /> CSDN会员账号
          （<a @click="$router.push({path: '/user/csdn-account'})">点击添加账号</a>）
        </p>
        <Table :columns="csdnAccountColumns" :data="csdnAccounts" :loading="csdnAccountTableLoading" border>
          <template slot="action" slot-scope="{ row, index }">
            <Button :disabled="row.is_cookies_valid === '是'" @click="$router.push({path:'/user/csdn-account', query: {id: row.id}})" type="primary" size="small">
              {{ row.is_cookies_valid === '是' ? '无需更新Cookies' : '更新Cookies' }}
            </Button>
            <Button :disabled="row.need_sms_validate === '否'" @click="handleValidateSms(index)" type="warning" size="small">
              {{ row.need_sms_validate === '否' ? '无需解除短信验证' : '解除短信验证' }}
            </Button>
          </template>
        </Table>
      </Card>
      <Card :style="{marginTop: $store.state.user.is_pattern ? '20px' : '0px'}">
        <p slot="title">
          <Icon type="ios-list-box" /> 下载记录
        </p>
        <Table :columns="downloadRecordColumns" :data="downloadRecords" :loading="downloadRecordTableLoading" border max-height="305">
          <template slot="action" slot-scope="{ row, index }">
            <Button @click="$router.push({path:'/resource', query: {id: row.resource_id}})" type="primary" size="small">
              查看资源
            </Button>
            <Button @click="handleDeleteDownloadRecord(index)" type="error" size="small">
              删除
            </Button>
          </template>
        </Table>
      </Card>
      </Col>
    </Row>
  </div>
</template>

<script>
import { parseTime, debounce } from '~/assets/utils'

export default {
  middleware: 'auth',
  layout: 'content',
  head: {
    title: '个人中心 - 源自下载'
  },
  data () {
    return {
      advert: null,
      uploadResourceTableLoading: false,
      uploadResources: [],
      csdnAccounts: [],
      csdnAccountTableLoading: false,
      csdnAccountColumns: [
        {
          type: 'index',
          align: 'center',
          width: 60
        },
        {
          title: 'ID',
          key: 'csdn_id',
          align: 'center',
          width: 100
        },
        {
          title: '更新时间',
          key: 'update_time',
          align: 'center',
          width: 180
        },
        {
          title: '是否正在使用',
          key: 'is_enabled',
          align: 'center',
          width: 130
        },
        {
          title: '是否禁止使用',
          key: 'is_disabled',
          align: 'center',
          width: 130
        },
        {
          title: 'Cookies是否有效',
          key: 'is_cookies_valid',
          align: 'center',
          width: 180
        },
        {
          title: '是否需要短信验证',
          key: 'need_sms_validate',
          align: 'center',
          width: 150
        },
        {
          title: '总下载次数',
          key: 'used_count',
          align: 'center',
          width: 120
        },
        {
          title: '今日下载次数',
          key: 'today_download_count',
          align: 'center',
          width: 130
        },
        {
          title: '下载单次价格/元',
          key: 'unit_price',
          align: 'center',
          width: 150
        },
        {
          title: '操作',
          slot: 'action',
          align: 'center',
          width: 300
        }
      ],
      orderColumns: [
        {
          type: 'index',
          width: 60,
          align: 'center'
        },
        {
          title: '创建时间',
          key: 'create_time',
          width: 170,
          align: 'center',
          sortable: true
        },
        {
          title: '下载积分',
          key: 'point',
          align: 'center'
        },
        {
          title: '捐赠金额/元',
          key: 'total_amount',
          align: 'center'
        },
        {
          title: '操作',
          slot: 'action',
          width: 150,
          align: 'center'
        }
      ],
      downloadRecordColumns: [
        {
          type: 'index',
          width: 60,
          align: 'center'
        },
        {
          title: '下载时间',
          key: 'create_time',
          width: 170,
          align: 'center',
          sortable: true
        },
        {
          title: '使用积分',
          key: 'used_point',
          align: 'center',
          width: 100
        },
        {
          title: '资源标题',
          key: 'title'
        },
        {
          title: '操作',
          slot: 'action',
          width: 150,
          align: 'center'
        }
      ],
      couponColumns: [
        {
          type: 'index',
          width: 60,
          align: 'center'
        },
        {
          title: '获取时间',
          key: 'create_time',
          width: 170,
          align: 'center',
          sortable: true
        },
        {
          title: '优惠',
          slot: 'content',
          align: 'center'
        },
        {
          title: '备注',
          key: 'comment',
          align: 'center'
        },
        {
          title: '操作',
          slot: 'action',
          width: 100,
          align: 'center'
        }
      ],
      coupons: [],
      downloadRecords: [],
      orders: [],
      orderTableLoading: false,
      downloadRecordTableLoading: false,
      couponTableLoading: false,
      uploadResourceColumns: [
        {
          type: 'index',
          width: 60,
          align: 'center'
        },
        {
          title: '上传时间',
          key: 'create_time',
          width: 120,
          align: 'center',
          sortable: true
        },
        {
          title: '资源标题',
          key: 'title'
        },
        {
          title: '状态',
          slot: 'status',
          width: 100,
          align: 'center'
        },
        {
          title: '操作',
          slot: 'action',
          width: 100,
          align: 'center'
        }
      ]
    }
  },
  beforeMount () {
    this.downloadRecordTableLoading = true
    this.orderTableLoading = true
    this.couponTableLoading = true
    this.uploadResourceTableLoading = true
    // 每次进入个人中心重新获取用户信息
    this.$Spin.show()
    this.$axios.$get('get_user/').then((data) => {
      if (data.code === 200) {
        this.$store.commit('setUser', data.user)
      } else {
        this.$Message.error(data.msg)
      }
    }).finally(() => {
      this.$Spin.hide()
    })
    if (this.$store.state.user.is_pattern) {
      this.$axios.$get('list_csdn_accounts/').then((data) => {
        if (data.code === 200) {
          this.csdnAccounts = data.csdn_accounts.map((csdnAccount) => {
            csdnAccount.update_time = parseTime(csdnAccount.update_time)
            csdnAccount.need_sms_validate = csdnAccount.need_sms_validate ? '是' : '否'
            csdnAccount.is_enabled = csdnAccount.is_enabled ? '是' : '否'
            csdnAccount.is_disabled = csdnAccount.is_disabled ? '是' : '否'
            csdnAccount.is_cookies_valid = csdnAccount.is_cookies_valid ? '是' : '否'
            return csdnAccount
          })
        }
      })
    }
    // 获取我的订单
    this.$axios.$get('list_orders/').then((data) => {
      if (data.code === 200) {
        this.orders = data.orders
        this.orders.map((item) => {
          item.create_time = parseTime(item.create_time)
        })
      } else {
        this.$Message.error(data.msg)
      }
    }).finally(() => {
      this.orderTableLoading = false
    })
    // 获取下载记录
    this.$axios.$get('list_download_records/').then((data) => {
      if (data.code === 200) {
        this.downloadRecords = data.download_records
        this.downloadRecords.map((item) => {
          item.create_time = parseTime(item.create_time)
        })
      } else {
        this.$Message.error(data.msg)
      }
    }).finally(() => {
      this.downloadRecordTableLoading = false
    })
    // 获取上传资源
    this.$axios.$get('list_uploaded_resources/').then((data) => {
      if (data.code === 200) {
        this.uploadResources = data.resources
        this.uploadResources.map((item) => {
          item.create_time = parseTime(item.create_time, '{y}-{m}-{d}')
        })
      } else {
        this.$Message.error(data.msg)
      }
    }).finally(() => {
      this.uploadResourceTableLoading = false
    })
    // 获取广告
    this.$axios.$get('get_random_advert/').then((data) => {
      if (data.code === 200) {
        this.advert = data.advert
      }
    })
  },
  methods: {
    handleValidateSms (index) {
      if (this.csdnAccounts[index].need_sms_validate === '否') {
        this.$Message.warning('无需解除短信验证')
        return
      }
      this.$Modal.confirm({
        title: '提示',
        content: '请确认您已进行短信验证操作，如已验证，点击确认进行解除。',
        onOk: () => {
          this.$axios.$get('remove_csdn_sms_validate/', {
            params: {
              id: this.csdnAccounts[index].id
            }
          }).then((data) => {
            if (data.code === 200) {
              this.csdnAccounts[index].need_sms_validate = '否'
              this.$Message.success(data.msg)
            } else {
              this.$Message.error(data.msg)
            }
          })
        }
      })
    },
    handleDeleteDownloadRecord (index) {
      this.$Modal.confirm({
        title: '确认删除下载记录',
        onOk: () => {
          this.$Loading.start()
          this.$axios.$get('delete_download_record/?id=' + this.downloadRecords[index].id).then((data) => {
            if (data.code === 200) {
              this.downloadRecords.splice(index, 1)
              this.$Message.success(data.msg)
            } else {
              this.$Message.error({
                content: data.msg,
                duration: 3
              })
            }
          }).finally(() => {
            this.$Loading.finish()
          })
        }
      })
    },
    handleDeleteOrder (index) {
      this.$Modal.confirm({
        title: '确认删除订单',
        onOk: () => {
          this.$Loading.start()
          this.$axios.$get('delete_order/?id=' + this.orders[index].id).then((data) => {
            if (data.code === 200) {
              this.orders.splice(index, 1)
              this.$Message.success(data.msg)
            } else {
              this.$Message.error({
                content: data.msg,
                duration: 3
              })
            }
          }).finally(() => {
            this.$Loading.finish()
          })
        }
      })
    },
    handlePay (index) {
      window.open(this.orders[index].pay_url, '_blank')
    },
    handleDownload (index) {
      debounce(() => {
        this.$Spin.show({
          render: (h) => {
            return h('div', [
              h('Icon', {
                'class': 'demo-spin-icon-load',
                props: {
                  type: 'ios-loading',
                  size: 18
                }
              }),
              h('div', '下载中')
            ])
          }
        })
        this.$axios({
          url: 'download/?url=' + this.downloadRecords[index].resource_url,
          responseType: 'blob'
        }).then((response) => {
          if (response.headers['content-type'] === 'application/octet-stream') {
            const url = window.URL.createObjectURL(new Blob([response.data]))
            const link = document.createElement('a')
            link.style.display = 'none'
            link.href = url
            const contentDistribution = response.headers['content-disposition']
            const filename = decodeURI(contentDistribution.substring(contentDistribution.indexOf('"') + 1, contentDistribution.lastIndexOf('"')))
            link.setAttribute('download', filename)
            document.body.appendChild(link)
            link.click()
          } else {
            const reader = new FileReader()
            reader.onload = (e) => {
              const data = JSON.parse(e.target.result)
              this.$Message.error(data.msg)
            }
            reader.readAsText(response.data)
          }
        }).finally(() => {
          this.$Spin.hide()
        })
      }, 300)
    }
  }
}
</script>

<style>
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
</style>
