<template>
  <div>
    <Card style="width: 300px; margin: 20px auto;">
      <p slot="title">
        {{ $store.state.user.password ? '修改' : '设置' }}密码
      </p>
      <div>
        <Form ref="form" :model="form" :rules="rules">
          <FormItem prop="password">
            <Input v-model="form.password" :placeholder="'请输入' + ($store.state.user.password ? '新' : '') + '密码'" type="password">
            <Icon slot="prepend" type="ios-lock-outline"></Icon>
            </Input>
          </FormItem>
          <FormItem prop="rePassword">
            <Input v-model="form.rePassword" :placeholder="'请重复输入' + ($store.state.user.password ? '新' : '') + '密码'" type="password">
            <Icon slot="prepend" type="ios-lock-outline"></Icon>
            </Input>
          </FormItem>

          <Button @click="handleSetPassword" long type="primary">
            确定
          </Button>
        </Form>
      </div>
    </Card>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  layout: 'content',
  head: {
    title: '设置密码 - 源自下载'
  },
  data () {
    const validatePassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'))
      } else if (!/^[a-zA-Z0-9]{6,24}$/.test(value)) {
        callback(new Error('密码必须是6到24位字母或数字'))
      } else {
        callback()
      }
    }
    const validateRePassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请重复输入密码'))
      } else if (value !== this.form.password) {
        callback(new Error('两次密码不相同'))
      } else {
        callback()
      }
    }
    return {
      form: {
        password: '',
        rePassword: ''
      },
      rules: {
        password: [
          { validator: validatePassword, trigger: 'blur' }
        ],
        rePassword: [
          { validator: validateRePassword, trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    handleSetPassword () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          const data = {
            password: this.form.password
          }
          this.$axios.$post('set_password/', data).then((data) => {
            if (data.code === 200) {
              this.$Message.success(data.msg)
              this.resetForm()
            } else {
              this.$Message.error(data.msg)
            }
          })
        }
      })
    },
    resetForm () {
      this.form = {
        password: '',
        rePassword: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
