<template>
  <div>
    <Layout style="background: #fff;">
      <Header style="padding: 0 20px; width: 100%; color: #fff; position: fixed; z-index: 999; font-family: SimSun,serif;">
        <div style="float: left; margin-right: 40px;">
          <a id="logo" @click="$router.push({path: '/'})">
            <img src="/logo.png" alt="" width="150" style="margin-top: 15px;" />
          </a>
        </div>
        <a @click="$router.push({path:'/'})" style="color: #fff; margin-left: 24px;"><Icon type="md-cloud-download" /> 资源下载</a>
        <!-- <a @click="$router.push({path:'/doc-convert'})" style="color: #fff; margin-left: 24px;"><Icon type="md-crop" /> 文档转换</a> -->
        <!-- <a @click="$router.push({path:'/donate'})" style="color: #fff; margin-left: 24px;"><Icon type="md-heart" /> 积分获取</a> -->

        <div style="cursor: pointer; float: right; padding-right:20px;">
          <Dropdown @on-click="handleClick" v-if="$store.state.user">
            <Avatar :src="$store.state.user.avatar_url" size="large" />
            <Icon :size="18" type="md-arrow-dropdown" />
            <DropdownMenu slot="list">
              <DropdownItem name="user">
                个人中心
              </DropdownItem>
              <DropdownItem name="setPassword">
                {{ $store.state.user.password ? '修改' : '设置' }}密码
              </DropdownItem>
              <DropdownItem name="logout">
                退出登录
              </DropdownItem>
            </DropdownMenu>
          </Dropdown>
          <span @click="handleMpLogin" v-else>
            登录
          </span>
        </div>
      </Header>
      <div style="margin-top: 64px;">
        <nuxt />
      </div>
      <Copyright />
    </Layout>
    <Modal
      v-model="qrCodeScanModalShown"
      :mask-closable="false"
      @on-cancel="handleCancelQrCodeScanModal"
      width="300"
    >
      <p slot="header" style="text-align:center">
        <Icon type="ios-information-circle"></Icon>
        <span>{{ qrCodeTitle }}</span>
      </p>
      <div>
        <div id="qrCode"></div>
      </div>
      <div slot="footer">
        <Button @click="generateQrCode('login')" type="primary" long>
          刷新二维码
        </Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import QRCode from 'qrcodejs2'
import { v1 as uuidv1 } from 'uuid'
import Copyright from '@/components/copyright'
import config from '../nuxt.config'

export default {
  components: {
    Copyright
  },
  data () {
    return {
      qrCodeScanModalShown: false,
      qrCode: null,
      i: null,
      qrCodeTitle: ''
    }
  },
  computed: {
    dev () {
      return config.env.dev
    }
  },
  methods: {
    handleCancelQrCodeScanModal () {
      if (this.i) {
        clearInterval(this.i)
      }
    },
    generateQrCode (codeType) {
      if (this.i) {
        clearInterval(this.i)
      }
      const cid = uuidv1().replace(/-/g, '')
      const data = {
        cid,
        t: codeType
      }
      // 保存二维码唯一标志到服务器
      this.$axios.$post('save_qr_code/', data).then((data) => {
        if (data.code === 200) {
          const text = config.env.baseUrl + 'scan_code/?cid=' + cid + '&t=' + codeType // 二维码内容
          if (!this.qrCode) {
            this.qrCode = new QRCode('qrCode', {
              width: 268,
              height: 268, // 高度
              text
              // render: 'canvas' ,   // 设置渲染方式（有两种方式 table和canvas，默认是canvas）
              // background: '#f0f',   // 背景色
              // foreground: '#ff0'    // 前景色
            })
          } else {
            this.qrCode.makeCode(text)
          }
          if (!this.qrCodeScanModalShown) {
            this.qrCodeScanModalShown = true
          }

          this.i = setInterval(() => {
            this.$axios.$get('check_scan/?cid=' + cid + '&t=' + codeType).then((data) => {
              if (data.code === 200) {
                if (codeType === 'login') {
                  this.$store.dispatch('handleLogin', {
                    token: data.token,
                    user: data.user
                  })
                }
                this.qrCodeScanModalShown = false
                this.$Message.success(data.msg)
                clearInterval(this.i)
              } else if (data.code !== 4000) {
                clearInterval(this.i)
                this.$Message.error(data.msg)
              }
            })
          }, 3000)
        } else {
          this.$Message.error(data.msg)
        }
      })
    },
    logout () {
      this.$store.dispatch('handleLogout')
      this.$router.push({
        path: '/'
      }, () => {
        this.$Message.info('退出成功')
      })
    },
    handleMpLogin () {
      this.qrCodeTitle = '小程序扫码登录'
      this.$nextTick(() => {
        this.generateQrCode('login')
      })
    }
  }
}
</script>

<style>
html, body {
  overflow: auto;
}
.msg-show{
  display: none;
}
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
</style>
