<template>
  <div>
    <Card style="width: 400px; margin: 170px auto;">
      <p slot="title">
        文档转换
      </p>
      <div>
        <Upload
          :before-upload="handleBeforeUpload"
          action=""
          type="drag"
          style="margin-bottom: 15px;"
        >
          <div style="padding: 10px 0; border-radius: 5px;">
            <Icon type="ios-cloud-upload" size="40" style="color: #808695;"></Icon>
            <p>{{ file ? file.name : '请上传文件' }}</p>
          </div>
        </Upload>
        <Select v-model="command" style="width: 200px">
          <Option v-for="item in commands" :value="item.value" :key="item.value">
            {{ item.label }}
          </Option>
        </Select>
        <Button @click="handleUpload" type="primary" long style="margin-top: 20px;">
          开始转换
        </Button>
        <p style="margin-top: 10px; color: #808695;">
          积分说明：1积分/1次，转换失败不会扣除积分。
        </p>
      </div>
    </Card>
  </div>
</template>

<script>
export default {
  layout: 'content',
  head: {
    title: '文档转换 - 源自下载'
  },
  data () {
    return {
      file: null,
      commands: [
        {
          label: 'PDF转Word',
          value: 'pdf2word'
        },
        {
          label: 'PDF转HTML',
          value: 'pdf2html'
        },
        {
          label: 'PDF转PPT',
          value: 'pdf2ppt'
        },
        {
          label: 'PDF转图片',
          value: 'pdf2img'
        },
        {
          label: 'Word转PDF',
          value: 'word2pdf'
        },
        {
          label: '图片转PDF',
          value: 'img2pdf'
        },
        {
          label: 'PPT转PDF',
          value: 'ppt2pdf'
        }
      ],
      command: 'pdf2word',
      uploadingText: ''
    }
  },
  methods: {
    handleBeforeUpload (file) {
      if (!this.$store.state.user) {
        this.$Message.warning('请先登录')
        return false
      }
      if (file.size > 100 * 1000 * 1000) {
        this.$Message.error({
          content: '上传的资源大小不能超过100MB',
          duration: 3
        })
        return false
      }
      this.file = file
      return false
    },
    handleUpload () {
      if (!this.$store.state.user) {
        this.$Message.warning('请先登录')
        return false
      }

      if (this.file) {
        this.$Spin.show({
          render: (h) => {
            return h('div', [
              h('Icon', {
                'class': 'demo-spin-icon-load',
                props: {
                  type: 'ios-loading',
                  size: 18
                }
              }),
              h('div', this.uploadingText)
            ])
          }
        })

        const data = new FormData()
        data.append('file', this.file)
        data.append('c', this.command)
        this.$axios.$post('doc_convert/', data, {
          headers: {
            'Content-Type': 'multipart/form-data;charset=UTF-8'
          },
          onUploadProgress: (e) => {
            // console.log(e)
            if (e.loaded === e.total) {
              this.uploadingText = '转换中，请耐心等待...'
            } else {
              this.uploadingText = '上传中: ' + (e.loaded / e.total * 100).toFixed(2) + '%'
            }
          }
        }).then((data) => {
          if (data.code === 200) {
            this.$Modal.success({
              title: '转换成功',
              render: (h) => {
                return h('p', [
                  h('span', '若没有自动跳转下载，请尝试点击此'),
                  h('a', {
                    attrs: {
                      href: data.url,
                      target: '_blank'
                    }
                  }, '链接'),
                  h('span', '进行下载。')
                ])
              }
            })
            window.open(data.url, '_blank')
          } else if (data.code === 5000) {
            this.$Modal.warning({
              width: 460,
              title: '提示',
              render: (h) => {
                return h('div', {
                  style: {
                    'text-align': 'center'
                  }
                }, [
                  h('p', data.msg + '登录微信小程序签到可以免费领积分！'),
                  h('img', {
                    attrs: {
                      src: '/mp.jpg'
                    },
                    style: {
                      'margin-top': '20px',
                      width: '40%',
                      height: '40%'
                    }
                  })
                ])
              }
            })
          } else {
            this.$Message.error(data.msg)
          }
        }).finally(() => {
          this.$Spin.hide()
        })
      } else {
        this.$Message.error('请上传资源文件')
      }
    }
  }
}
</script>

<style>
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
</style>
