<template>
  <div>
    <Card style="width: 400px; margin: 20px auto;">
      <p slot="title">
        源自下载微信小程序
      </p>
      <div style="text-align: center;">
        <img src="/mp.jpg" width="60%" style="margin-top: 10px; border-radius: 5px;" />
      </div>
      <div style="color: #808695; margin-top: 10px;">
        <p>
          积分获取说明：
        </p>
        <p>
          方式一，在小程序我的页面签到领取积分；
        </p>
        <p>
          方式二，在小程序我的页面进入我的积分，通过捐赠支持获取积分。
        </p>
      </div>
    </Card>
  </div>
</template>

<script>
export default {
  layout: 'content',
  head: {
    title: '捐赠支持 - 源自下载'
  }
}
</script>

<style scoped>

</style>
