<template>
  <div>
    <Row :gutter="16" style="width: 80%; margin: 20px auto 10px;">
      <Col span="6">
      <Card style="margin-bottom: 10px;">
        <p slot="title">
          微信小程序
        </p>
        <img src="/mp2.jpeg" width="100%" style="margin-top: 10px; border-radius: 5px;" />
      </Card>
      </Col>
      <Col span="12">
      <Input
        @on-search="handleSearch"
        v-model="key"
        :placeholder="searchPlaceholder"
        search
        style="margin-bottom: 10px;"
      />
      <Card v-for="resource in resources" :key="resource.id" style="margin-bottom: 10px;">
        <p slot="title" @click="handleOpenResource(resource)" class="resource-title">
          {{ resource.title }}
        </p>
        <p v-if="resource.desc" class="resource-desc">
          {{ resource.desc }}
        </p>
        <p :style="resource.desc ? {marginTop: '10px'} : {}">
          <Tag color="gold" style="cursor: default;">
            {{ resource.fileFormat }}
          </Tag>
          <Tag @click.native="handleSearch(tag)" v-for="tag in resource.tags" :key="tag" color="blue">
            {{ tag }}
          </Tag>
        </p>
        <p style="text-align: right; margin-top: 10px;">
          上传者: {{ resource.nickname }} &nbsp; 上传时间: {{ resource.create_time }}
        </p>
      </Card>
      </Col>
      <Col span="6">
      <Button
        v-if="$store.state.user"
        @click="handleClickUploadButton"
        long
        type="primary"
        ghost
        style="margin-bottom: 10px;"
      >
        分享资源
      </Button>
      <Card v-if="$store.state.user && $store.state.user.can_download" style="margin-bottom: 10px;">
        <p slot="title">
          支持下载的资源站点
        </p>
        <p>
          <Icon type="ios-flash" /><a href="https://www.58pic.com/" target="_blank">千图网</a>
        </p>
        <p>
          <Icon type="ios-flash" /><a href="https://download.csdn.net/" target="_blank">CSDN下载</a>
        </p>
        <p>
          <Icon type="ios-flash" /><a href="https://wenku.baidu.com/" target="_blank">百度文库</a>
        </p>
        <p>
          <Icon type="ios-flash" /><a href="https://www.docer.com/" target="_blank">稻壳VIP模板</a>
        </p>
        <p>
          <Icon type="ios-flash" /><a href="https://cnki.net/" target="_blank">知网文献</a>
        </p>
        <p>
          <Icon type="ios-flash" /><a href="https://www.iteye.com/resources" target="_blank">ITeye资源下载</a>
        </p>
        <p>
          <Icon type="ios-flash" /><a href="http://www.cssmoban.com/" target="_blank">模板之家</a>
        </p>
      </Card>
      </Col>
    </Row>
    <Modal
      v-model="uploadModalShown"
      :mask-closable="false"
      :closable="false"
      title="分享资源"
    >
      <div style="font-size: 14px;">
        <Upload
          :before-upload="handleBeforeUpload"
          action=""
          type="drag"
          style="margin-bottom: 15px;"
        >
          <div style="padding: 10px 0; border-radius: 5px;">
            <Icon type="ios-cloud-upload" size="40"></Icon>
            <p>{{ uploadText }}</p>
          </div>
        </Upload>
        <Form ref="uploadResource" :model="uploadResource" :rules="uploadResourceRules" :label-width="80">
          <FormItem label="资源标题" prop="title">
            <Input v-model="uploadResource.title" placeholder="请输入资源标题" />
          </FormItem>
          <FormItem label="资源标签" prop="tags">
            <Tag
              v-for="tag in uploadResourceTags"
              :key="tag"
              :name="tag"
              @on-close="handleRemoveTag"
              type="border"
              closable
              color="primary"
            >
              {{ tag }}
            </Tag>
            <Input
              ref="addTagInput"
              v-if="addTagInputShown"
              @keyup.enter.native.prevent="handleAddTag"
              v-model="uploadResourceTag"
              @on-blur="handleAddTagInputBlur"
              size="small"
              style="width: 83px;"
            />
            <Button @click="handleShowAddInput" v-else icon="ios-add" type="dashed" size="small">
              添加标签
            </Button>
          </FormItem>
          <FormItem label="资源描述" prop="desc">
            <Input v-model="uploadResource.desc" :autosize="{minRows: 3,maxRows: 5}" type="textarea" placeholder="请输入资源描述" />
          </FormItem>
        </Form>
      </div>
      <div slot="footer">
        <Button @click="handleCloseUploadModal" type="text">
          取消
        </Button>
        <Button :loading="uploadLoading" @click="handleUpload" type="primary">
          确认上传
        </Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import BMF from 'browser-md5-file'
import {
  formatSize,
  parseTime,
  CSDN_URL_PATTERN,
  WENKU_URL_PATTERN,
  DOCER_URL_PATTERN,
  ZHIWANG_URL_PATTERN,
  QIANTU_URL_PATTERN,
  ITEYE_URL_PATTERN,
  MBZJ_URL_PATTERN
} from '~/assets/utils'

export default {
  layout: 'content',
  head: {
    title: '源自下载 - 资源在线下载平台'
  },
  data () {
    const validateUpdateResourceTags = (rule, value, callback) => {
      if (this.uploadResourceTags.length === 0) {
        callback(new Error('必须添加资源标签'))
      } else {
        callback()
      }
    }
    return {
      advert: null,
      resources: [],
      key: '',
      resourceTags: [],
      uploadModalShown: false,
      uploadLoading: false,
      page: 1,
      perPage: 10,
      file: null,
      uploadResource: {
        title: '',
        desc: ''
      },
      uploadResourceRules: {
        title: [
          { required: true, message: '必须填写资源标题', trigger: 'blur' }
        ],
        desc: [
          { required: true, message: '必须填写资源描述', trigger: 'blur' }
        ],
        tags: [
          { required: true, validator: validateUpdateResourceTags, trigger: 'blur' }
        ]
      },
      uploadResourceTag: '',
      uploadResourceTags: [],
      addTagInputShown: false,
      uploadText: '点击或拖拽资源文件至此进行上传（小于20MiB）',
      uploadingText: '上传中'
    }
  },
  computed: {
    searchPlaceholder () {
      return this.$store.state.user && this.$store.state.user.can_download ? '搜索资源内容 | 资源地址' : '搜索资源内容'
    }
  },
  mounted () {
    window.addEventListener('scroll', this.handleScroll, true)
  },
  beforeMount () {
    if (this.$store.state.token) {
      this.$axios.$get('get_user/').then((data) => {
        if (data.code === 200) {
          this.$store.commit('setUser', data.user)
        } else {
          this.$store.dispatch('handleLogout')
        }
      })
    }
    this.$Spin.show()
    // 每次加载首页前都重新获取用户信息
    const params = {
      page: this.page,
      per_page: this.perPage,
      key: this.key
    }
    this.$axios.$get('list_resources/', { params }).then((data) => {
      if (data.code === 200) {
        this.resources = data.resources
        this.resources.map((resource) => {
          resource.tags = resource.tags ? resource.tags.split('!sep!') : []
          resource.size = formatSize(resource.size)
          resource.create_time = parseTime(resource.create_time, '{y}-{m}-{d}')
          resource.fileFormat = resource.filename.substring(resource.filename.lastIndexOf('.') + 1).toUpperCase()
          return resource
        })
      } else {
        this.$Message.error('站内资源获取失败')
      }
    }).finally(() => {
      this.$Spin.hide()
    })
  },
  methods: {
    // https://www.jianshu.com/p/0a3aebd63a14
    getScrollTop () {
      let scrollTop = 0
      let bodyScrollTop = 0
      let documentScrollTop = 0
      if (document.body) {
        bodyScrollTop = document.body.scrollTop
      }
      if (document.documentElement) {
        documentScrollTop = document.documentElement.scrollTop
      }
      scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop
      return scrollTop
    },
    getScrollHeight () {
      let scrollHeight = 0
      let bodyScrollHeight = 0
      let documentScrollHeight = 0
      if (document.body) {
        bodyScrollHeight = document.body.scrollHeight
      }
      if (document.documentElement) {
        documentScrollHeight = document.documentElement.scrollHeight
      }
      scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight
      return scrollHeight
    },
    getWindowHeight () {
      let windowHeight = 0
      if (document.compatMode === 'CSS1Compat') {
        windowHeight = document.documentElement.clientHeight
      } else {
        windowHeight = document.body.clientHeight
      }
      return windowHeight
    },
    handleScroll () {
      if (this.getScrollTop() !== 0 && this.getScrollTop() + this.getWindowHeight() === this.getScrollHeight()) {
        this.page += 1
        const params = {
          page: this.page,
          per_page: this.perPage,
          key: this.key
        }
        this.$axios.$get('list_resources/', { params }).then((data) => {
          if (data.code === 200) {
            if (data.resources.length === 0) {
              this.$Message.info('没有更多了')
            } else {
              this.resources = this.resources.concat(data.resources.map((resource) => {
                resource.tags = resource.tags ? resource.tags.split('!sep!') : []
                resource.size = formatSize(resource.size)
                resource.create_time = parseTime(resource.create_time, '{y}-{m}-{d}')
                resource.fileFormat = resource.filename.substring(resource.filename.lastIndexOf('.') + 1).toUpperCase()
                return resource
              }))
            }
          } else {
            this.$Message.error('站内资源获取失败')
          }
        })
      }
    },
    handleOpenResource (resource) {
      if (this.$store.state.user) {
        this.$router.push({
          path: '/resource',
          query: {
            id: resource.id
          }
        })
      } else {
        this.$Message.warning('请先登录')
      }
    },
    handleClickUploadButton () {
      if (this.$store.state.user) {
        this.uploadModalShown = true
      } else {
        this.$Message.warning('请先登录')
      }
    },
    handleRemoveTag (e, name) {
      this.uploadResourceTags.splice(this.uploadResourceTags.indexOf(name), 1)
    },
    handleShowAddInput () {
      this.addTagInputShown = true
      // 关于vue 的 this.$refs 打印为undefined解决办法 https://blog.csdn.net/changzhen11/article/details/84067816
      this.$nextTick(() => {
        this.$refs.addTagInput.focus()
      })
    },
    handleAddTagInputBlur () {
      this.addTagInputShown = false
      this.uploadResourceTag = ''
    },
    handleAddTag () {
      if (this.uploadResourceTags.length === 5) {
        this.$Message.warning('最多只能添加5个标签')
        return
      }

      this.uploadResourceTag = this.uploadResourceTag.trim()
      if (this.uploadResourceTag === '') {
        this.$Message.error('不能添加空标签')
        return
      }
      if (this.uploadResourceTags.includes(this.uploadResourceTag)) {
        this.$Message.error('不能添加相同的标签')
        return
      }
      this.uploadResourceTags.push(this.uploadResourceTag)
      this.uploadResourceTag = ''
      this.addTagInputShown = false
    },
    handleBeforeUpload (file) {
      if (file.size > 2 * 10 * 1024 * 1024) {
        this.$Message.error({
          content: '上传的资源大小不能超过20MiB',
          duration: 3
        })
        return false
      }

      this.$Spin.show({
        render: (h) => {
          return h('div', [
            h('Icon', {
              'class': 'demo-spin-icon-load',
              props: {
                type: 'ios-loading',
                size: 18
              }
            }),
            h('div', '资源文件加载中')
          ])
        }
      })
      // 计算文件的md5值
      const bmf = new BMF()
      bmf.md5(
        file,
        (err, md5) => {
          // console.log(md5)
          if (!err) {
            this.$axios.$get('check_file/?hash=' + md5).then((data) => {
              if (data.code === 200) {
                this.file = file
                this.uploadResource.title = this.file.name
                this.uploadText = file.name
                this.$Message.success({
                  content: '资源文件加载成功',
                  duration: 3
                })
              } else {
                this.$Message.error({
                  content: data.msg,
                  duration: 3
                })
              }
            })
          } else {
            // console.log(err)
            this.$Message.error({
              content: '资源文件加载失败，请重新上传',
              duration: 3
            })
          }
          this.$Spin.hide()
        },
        (progress) => {
          // console.log('progress number:', progress)
        }
      )
      return false
    },
    handleCloseUploadModal () {
      this.file = null
      this.uploadModalShown = false
      this.uploadResourceTags = []
      this.uploadResourceTag = ''
      this.uploadResource.title = ''
      this.uploadResource.desc = ''
      this.uploadText = '点击或拖拽资源文件至此进行上传'
    },
    handleUpload () {
      if (this.file) {
        this.uploadResource.desc = this.uploadResource.desc.trim()
        this.uploadResource.title = this.uploadResource.title.trim()
        this.$refs.uploadResource.validate((valid) => {
          if (valid) {
            this.$Spin.show({
              render: (h) => {
                return h('div', [
                  h('Icon', {
                    'class': 'demo-spin-icon-load',
                    props: {
                      type: 'ios-loading',
                      size: 18
                    }
                  }),
                  h('div', this.uploadingText)
                ])
              }
            })
            const data = new FormData()
            data.append('file', this.file)
            data.append('title', this.uploadResource.title)
            data.append('desc', this.uploadResource.desc)
            data.append('tags', this.uploadResourceTags.join('!sep!'))
            // $post 返回的是response.data
            // post 返回的是response
            this.$axios.$post('upload/', data, {
              headers: {
                'Content-Type': 'multipart/form-data;charset=UTF-8'
              },
              onUploadProgress: (e) => {
                // console.log(e)
                this.uploadingText = '上传中: ' + (e.loaded / e.total * 100).toFixed(2) + '%'
              }
            }).then((data) => {
              if (data.code === 200) {
                this.handleCloseUploadModal()
                this.$Message.success({
                  content: data.msg,
                  duration: 3
                })
              } else {
                this.$Message.error({
                  content: data.msg,
                  duration: 3
                })
              }
            }).finally(() => {
              this.$Spin.hide()
            })
          }
        })
      } else {
        this.$Message.error('请上传资源文件')
      }
    },
    handleSearch (key) {
      key = key.trim()
      // 判断用户是否可以下载外站资源
      if (CSDN_URL_PATTERN.test(key) ||
        WENKU_URL_PATTERN.test(key) ||
        DOCER_URL_PATTERN.test(key) ||
        ZHIWANG_URL_PATTERN.test(key) ||
        QIANTU_URL_PATTERN.test(key) ||
        ITEYE_URL_PATTERN.test(key) ||
        MBZJ_URL_PATTERN.test(key)) {
        if (!this.$store.state.user) {
          this.$Modal.warning({
            title: '提示',
            content: '请先登录'
          })
          return
        }
        if (this.$store.state.user.can_download) {
          this.$router.push({
            path: '/resource',
            query: {
              url: key
            }
          }, () => {
            this.key = ''
          })
          return
        }
        this.$Modal.warning({
          title: '提示',
          content: '未授权'
        })
      }

      this.key = key
      this.$Spin.show()
      this.page = 1
      const params = {
        page: this.page,
        per_page: this.perPage,
        key: this.key
      }
      this.$axios.$get('list_resources/', { params }).then((data) => {
        if (data.code === 200) {
          if (data.resources.length <= 0) {
            this.$Modal.warning({
              title: '提示',
              content: '暂无相关资源'
            })
            return
          }

          this.resources = data.resources
          this.resources.map((resource) => {
            resource.tags = resource.tags ? resource.tags.split('!sep!') : []
            resource.size = formatSize(resource.size)
            resource.create_time = parseTime(resource.create_time, '{y}-{m}-{d}')
            resource.fileFormat = resource.filename.substring(resource.filename.lastIndexOf('.') + 1).toUpperCase()
            return resource
          })
        } else {
          this.$Message.error('站内资源获取失败')
        }
      }).finally(() => {
        // 滚动到顶部
        window.scrollTo(0, 0)
        this.$Spin.hide()
      })
    }
  }
}
</script>

<style>
.resource-title{
  cursor: pointer;
}
.resource-title:hover{
  color: #2d8cf0;
}
.resource-desc {
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
</style>
