<template>
  <div>
    <Row :gutter="16" style="width: 60%; margin: 20px auto 10px;">
      <Col span="16">
      <Card v-if="resource" style="margin-bottom: 10px;">
        <p slot="title">
          {{ resource.title }}
        </p>
        <p v-if="resource.desc">
          {{ resource.desc }}
        </p>
        <p :style="resource.desc && !is_zhiwang ? {marginTop: '10px'} : {}">
          <span>
            <Tag v-if="resource.file_type && resource.file_type !== 'unkonw'" color="gold">{{ resource.file_type }}</Tag><Tag v-for="tag in resource.tags" :key="tag" color="blue">{{ tag }}</Tag>
          </span>
        </p>
        <p v-if="resource.size" style="text-align: right; margin-top: 10px;">
          <span v-if="resourceId">上传者: {{ resource.nickname }} &nbsp; 上传时间: {{ resource.create_time }} &nbsp; </span>资源大小: {{ resource.size }}
        </p>
      </Card>
      <Card v-if="is_zhiwang" style="margin-bottom: 10px;">
        <div v-if="resource.pdf_download">
          <Button v-if="resource.pdf_download" @click="handleDownload" icon="md-cloud-download" type="primary">
            PDF下载({{ resource.point }}积分)
          </Button>
        </div>
        <div v-else>
          <Button disabled icon="md-cloud-download" type="primary">
            不支持下载
          </Button>
        </div>
      </Card>
      <Card v-else style="margin-bottom: 10px;">
        <Button @click.prevent="handleOSSDownload" v-if="resourceId" icon="md-cloud-download" type="primary">
          {{ '下载(' + resource.point + '积分)' }}
        </Button>
        <Button :disabled="!resource.point" @click="handleDownload" v-if="resourceUrl" icon="md-cloud-download" type="primary">
          {{ resource.point ? '下载(' + resource.point + '积分)' : '不支持下载' }}
        </Button>
      </Card>
      <Card v-if="resource.preview_images && resource.preview_images.length > 0" style="margin-bottom: 10px;">
        <p slot="title">
          预览
        </p>
        <img
          v-for="preview_image in resource.preview_images"
          :key="preview_image.url"
          :src="preview_image.url"
          :alt="preview_image.alt"
          width="100%"
        />
      </Card>
      </Col>
      <Col span="8">
      <!-- <Card style="margin-bottom: 10px;">
          <p slot="title">下载提示</p>
          <p>为防止恶意下载资源，下载资源的间隔时间为{{ downloadInterval/60 }}分钟。</p>
        </Card> -->
      <img :src="advert.image" :alt="advert.title" width="100%" style="margin-bottom: 10px;border-radius: 5px;" />
      </Col>
    </Row>
  </div>
</template>

<script>
import { formatSize, parseTime, debounce,
  CSDN_URL_PATTERN, WENKU_URL_PATTERN, DOCER_URL_PATTERN,
  ZHIWANG_URL_PATTERN, QIANTU_URL_PATTERN,
  ITEYE_URL_PATTERN, MBZJ_URL_PATTERN } from '~/assets/utils'

export default {
  middleware: 'auth',
  layout: 'content',
  head: {
    title: '资源详情 - 源自下载'
  },
  data () {
    return {
      downloadInterval: 0,
      advert: {},
      resource: {},
      content: '',
      resourceId: null,
      resourceUrl: null,
      downloadingText: '解析中',
      is_zhiwang: false // 是否是知网文献
    }
  },
  beforeRouteUpdate (to, from, next) {
    // react to route changes...
    // don't forget to call next()
    this.handleGetData(to.query)
    next()
    window.scrollTo(0, 0)
  },
  beforeMount () {
    this.handleGetData(this.$route.query)
  },
  methods: {
    handleGetData (query) {
      const url = query.url || null
      const id = query.id || null

      // 爬取其他站点的资源
      this.$Spin.show()
      if (CSDN_URL_PATTERN.test(url) ||
        WENKU_URL_PATTERN.test(url) ||
        DOCER_URL_PATTERN.test(url) ||
        ZHIWANG_URL_PATTERN.test(url) ||
        QIANTU_URL_PATTERN.test(url) ||
        ITEYE_URL_PATTERN.test(url) ||
        MBZJ_URL_PATTERN.test(url)) {
        if (ZHIWANG_URL_PATTERN.test(url)) {
          this.is_zhiwang = true
        }
        this.resourceUrl = url
        const data = {
          url: this.resourceUrl
        }
        this.$axios.$post('parse_resource/', data).then((data) => {
          if (data.code === 200) {
            // console.log(data)
            this.resource = data.resource
          } else {
            this.$router.push({
              path: '/'
            }, () => {
              this.$Message.error(data.msg)
            })
          }
        }).finally(() => {
          this.$Spin.hide()
        })
      } else {
        // 获取已存在的资源
        if (!/^\d+$/.test(id)) {
          this.$router.push({
            path: '/resource'
          }, () => {
            this.$Message.error({
              content: '资源不存在',
              duration: 3
            })
          })
          return
        }
        this.resourceId = id
        this.$axios.$get('get_resource/?id=' + this.resourceId).then((data) => {
          if (data.code === 200) {
            this.resource = data.resource
            this.resource.tags = this.resource.tags ? this.resource.tags.split('!sep!') : []
            this.resource.size = formatSize(this.resource.size)
            this.resource.create_time = parseTime(this.resource.create_time, '{y}-{m}-{d}')
            this.resource.file_type = this.resource.filename.substring(this.resource.filename.lastIndexOf('.') + 1).toUpperCase()
          } else {
            this.$router.push({
              path: '/'
            }, () => {
              this.$Message.error({
                content: '资源不存在',
                duration: 3
              })
            })
          }
        }).finally(() => {
          this.$Spin.hide()
        })
      }

      // 获取广告
      this.$axios.$get('get_random_advert/').then((data) => {
        if (data.code === 200) {
          this.advert = data.advert
        }
      })

      // 获取下载间隔
      this.$axios.$get('get_download_interval/').then((data) => {
        if (data.code === 200) {
          this.downloadInterval = data.download_interval
        }
      })
    },
    handleOSSDownload () {
      if (!this.$store.state.user) {
        this.$Message.warning('请先登录')
        return
      }
      debounce(() => {
        this.$Spin.show({
          render: (h) => {
            return h('div', [
              h('Icon', {
                'class': 'demo-spin-icon-load',
                props: {
                  type: 'ios-loading',
                  size: 18
                }
              }),
              h('div', '下载中')
            ])
          }
        })
        this.$axios.$get('oss_download/?id=' + this.resource.id).then((data) => {
          if (data.code === 200) {
            this.$Modal.success({
              title: '下载成功',
              render: (h) => {
                return h('p', [
                  h('span', '若没有自动跳转下载，请尝试点击此'),
                  h('a', {
                    attrs: {
                      href: data.url,
                      target: '_blank'
                    }
                  }, '链接'),
                  h('span', '进行下载。')
                ])
              }
            })
            window.open(data.url, '_blank')
          } else if (data.code === 5000) {
            this.$Modal.warning({
              width: 460,
              title: '提示',
              render: (h) => {
                return h('div', {
                  style: {
                    'text-align': 'center'
                  }
                }, [
                  h('p', data.msg + '登录微信小程序签到可以免费领积分！'),
                  h('img', {
                    attrs: {
                      src: '/mp.jpg'
                    },
                    style: {
                      'margin-top': '20px',
                      width: '40%',
                      height: '40%'
                    }
                  })
                ])
              }
            })
          } else {
            this.$Message.error({
              content: data.msg,
              duration: 3
            })
          }
        }).finally(() => {
          this.$Spin.hide()
        })
      }, 300)
    },
    handleDownload () {
      if (!this.$store.state.user) {
        this.$Message.warning('未登录')
        return
      }
      if (CSDN_URL_PATTERN.test(this.resourceUrl) ||
        WENKU_URL_PATTERN.test(this.resourceUrl) ||
        DOCER_URL_PATTERN.test(this.resourceUrl) ||
        ZHIWANG_URL_PATTERN.test(this.resourceUrl) ||
        QIANTU_URL_PATTERN.test(this.resourceUrl) ||
        ITEYE_URL_PATTERN.test(this.resourceUrl) ||
        MBZJ_URL_PATTERN.test(this.resourceUrl)) {
        debounce(() => {
          this.$Spin.show({
            render: (h) => {
              return h('div', [
                h('Icon', {
                  'class': 'demo-spin-icon-load',
                  props: {
                    type: 'ios-loading',
                    size: 18
                  }
                }),
                h('div', this.downloadingText)
              ])
            }
          })
          const data = {
            url: this.resourceUrl,
            point: this.resource.point
          }
          this.$axios({
            url: 'download/',
            responseType: 'blob',
            method: 'post',
            data,
            onDownloadProgress: (e) => {
              // console.log(e)
              this.downloadingText = '下载中: ' + (e.loaded / e.total * 100).toFixed(2) + '%'
            }
          }).then((response) => {
            if (response.headers['content-type'] === 'application/octet-stream') {
              const url = window.URL.createObjectURL(new Blob([response.data]))
              const link = document.createElement('a')
              link.style.display = 'none'
              link.href = url
              const contentDistribution = response.headers['content-disposition']
              const filename = decodeURI(contentDistribution.substring(contentDistribution.indexOf('"') + 1, contentDistribution.lastIndexOf('"')))
              link.setAttribute('download', filename)
              document.body.appendChild(link)
              link.click()
            } else {
              const reader = new FileReader()
              reader.onload = (e) => {
                const data = JSON.parse(e.target.result)
                if (data.code === 200) {
                  this.$Modal.success({
                    title: '下载成功',
                    render: (h) => {
                      return h('p', [
                        h('span', '若没有自动跳转下载，请尝试点击此'),
                        h('a', {
                          attrs: {
                            href: data.url,
                            target: '_blank'
                          }
                        }, '链接'),
                        h('span', '进行下载。')
                      ])
                    }
                  })
                  window.open(data.url, '_blank')
                } else if (data.code === 5000) {
                  this.$Modal.warning({
                    width: 460,
                    title: '提示',
                    render: (h) => {
                      return h('div', {
                        style: {
                          'text-align': 'center'
                        }
                      }, [
                        h('p', data.msg + '登录微信小程序签到可以免费领积分！'),
                        h('img', {
                          attrs: {
                            src: '/mp.jpg'
                          },
                          style: {
                            'margin-top': '20px',
                            width: '40%',
                            height: '40%'
                          }
                        })
                      ])
                    }
                  })
                } else {
                  this.$Message.error({
                    content: data.msg,
                    duration: 3
                  })
                }
              }
              reader.readAsText(response.data)
            }
          }).finally(() => {
            this.$Spin.hide()
            this.downloadingText = '解析中'
          })
        }, 300)
      } else {
        this.$Message.error('资源地址不正确')
      }
    }
  }
}
</script>

<style>
  .demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
  }
</style>
